# Exploring how to flag the target for the data

In [28]:
# Dependencies:
# Data Wrangling:
import pandas as pd
from sqlalchemy import create_engine

# Modeling Packages:
from sklearn.model_selection import train_test_split
from sklearn.metrics import auc, accuracy_score
from sklearn.ensemble import RandomForestClassifier
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.compose import ColumnTransformer

import xgboost as xgb
import datetime

In [ ]:
# PostgreSQL cloud server credentials:
# server ip: 34.75.124.150
# username: user
# password: DeEJNEAhy
# Data is in materialized views train_data and train_labels

# Sample Python code to load a full table from the dataframe:

engine = create_engine('postgresql://user:DeEJNEAhy@34.75.124.150/postgres')
df = pd.read_sql("""
                 WITH BASE AS (
                    SELECT *
                    ,ROW_NUMBER() OVER      (
                                            PARTITION BY customer_id 
                                            ORDER BY s_2
                                            )
                    ,ROW_NUMBER() OVER      (
                                            PARTITION BY customer_id
                                            ORDER BY s_2 DESC
                                            ) last_statement_flag_drop
                    FROM TRAIN_DATA
                    )


                    SELECT *
                    ,CASE WHEN last_statement_flag_drop = 1 then 1 else 0 end as last_statement_flag
                    ,CASE WHEN (target = 1 AND last_statement_flag_drop = 1) then 1 else 0 end as last_statement_target
                    FROM BASE B
                    LEFT JOIN train_labels L
                    ON B.customer_id = L.customer_id
                 """, engine)

In [9]:
col_names = df.columns.tolist()
print(col_names)

['customer_id', 's_2', 'p_2', 'd_39', 'b_1', 'b_2', 'r_1', 's_3', 'd_41', 'b_3', 'd_42', 'd_43', 'd_44', 'b_4', 'd_45', 'b_5', 'r_2', 'd_46', 'd_47', 'd_48', 'd_49', 'b_6', 'b_7', 'b_8', 'd_50', 'd_51', 'b_9', 'r_3', 'd_52', 'p_3', 'b_10', 'd_53', 's_5', 'b_11', 's_6', 'd_54', 'r_4', 's_7', 'b_12', 's_8', 'd_55', 'd_56', 'b_13', 'r_5', 'd_58', 's_9', 'b_14', 'd_59', 'd_60', 'd_61', 'b_15', 's_11', 'd_62', 'd_63', 'd_64', 'd_65', 'b_16', 'b_17', 'b_18', 'b_19', 'd_66', 'b_20', 'd_68', 's_12', 'r_6', 's_13', 'b_21', 'd_69', 'b_22', 'd_70', 'd_71', 'd_72', 's_15', 'b_23', 'd_73', 'p_4', 'd_74', 'd_75', 'd_76', 'b_24', 'r_7', 'd_77', 'b_25', 'b_26', 'd_78', 'd_79', 'r_8', 'r_9', 's_16', 'd_80', 'r_10', 'r_11', 'b_27', 'd_81', 'd_82', 's_17', 'r_12', 'b_28', 'r_13', 'd_83', 'r_14', 'r_15', 'd_84', 'r_16', 'b_29', 'b_30', 's_18', 'd_86', 'd_87', 'r_17', 'r_18', 'd_88', 'b_31', 's_19', 'r_19', 'b_32', 's_20', 'r_20', 'r_21', 'b_33', 'd_89', 'r_22', 'r_23', 'd_91', 'd_92', 'd_93', 'd_94', 'r_24', 'r_25', 'd_96', 's_22', 's_23', 's_24', 's_25', 's_26', 'd_102', 'd_103', 'd_104', 'd_105', 'd_106', 'd_107', 'b_36', 'b_37', 'r_26', 'r_27', 'b_38', 'd_108', 'd_109', 'd_110', 'd_111', 'b_39', 'd_112', 'b_40', 's_27', 'd_113', 'd_114', 'd_115', 'd_116', 'd_117', 'd_118', 'd_119', 'd_120', 'd_121', 'd_122', 'd_123', 'd_124', 'd_125', 'd_126', 'd_127', 'd_128', 'd_129', 'b_41', 'b_42', 'd_130', 'd_131', 'd_132', 'd_133', 'r_28', 'd_134', 'd_135', 'd_136', 'd_137', 'd_138', 'd_139', 'd_140', 'd_141', 'd_142', 'd_143', 'd_144', 'd_145', 'row_number', 'last_statement_flag_drop', 'customer_id', 'target', 'last_statement_flag', 'last_statement_target']

Last Statement Specific Random Forest

In [10]:


rand_state = 1337

In [11]:
df_last = df[df.last_statement_flag == 1]
print(df_last.info())
print("\n")
df_last = df_last.drop(columns=["customer_id","row_number","last_statement_flag_drop","last_statement_flag","last_statement_target"]) #customer_id appears twice so ignore the mismatched # of dropped cols
print(df_last.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 12 to 120643
Columns: 196 entries, customer_id to last_statement_target
dtypes: float64(185), int64(6), object(5)
memory usage: 15.0+ MB
None


<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 12 to 120643
Columns: 190 entries, s_2 to target
dtypes: float64(185), int64(2), object(3)
memory usage: 14.6+ MB
None

In [12]:
#creating a month only field
#df_last['s_2-month'] = pd.DatetimeIndex(df_last['s_2']).month
df_last = df_last.drop(columns=["s_2"])

#turns out month of last statement is always around a certain date. so actually going to drop the column entirely as we won't detect any cyclical variation between customers

In [15]:
df_last.columns.tolist()

['p_2',
 'd_39',
 'b_1',
 'b_2',
 'r_1',
 's_3',
 'd_41',
 'b_3',
 'd_42',
 'd_43',
 'd_44',
 'b_4',
 'd_45',
 'b_5',
 'r_2',
 'd_46',
 'd_47',
 'd_48',
 'd_49',
 'b_6',
 'b_7',
 'b_8',
 'd_50',
 'd_51',
 'b_9',
 'r_3',
 'd_52',
 'p_3',
 'b_10',
 'd_53',
 's_5',
 'b_11',
 's_6',
 'd_54',
 'r_4',
 's_7',
 'b_12',
 's_8',
 'd_55',
 'd_56',
 'b_13',
 'r_5',
 'd_58',
 's_9',
 'b_14',
 'd_59',
 'd_60',
 'd_61',
 'b_15',
 's_11',
 'd_62',
 'd_63',
 'd_64',
 'd_65',
 'b_16',
 'b_17',
 'b_18',
 'b_19',
 'd_66',
 'b_20',
 'd_68',
 's_12',
 'r_6',
 's_13',
 'b_21',
 'd_69',
 'b_22',
 'd_70',
 'd_71',
 'd_72',
 's_15',
 'b_23',
 'd_73',
 'p_4',
 'd_74',
 'd_75',
 'd_76',
 'b_24',
 'r_7',
 'd_77',
 'b_25',
 'b_26',
 'd_78',
 'd_79',
 'r_8',
 'r_9',
 's_16',
 'd_80',
 'r_10',
 'r_11',
 'b_27',
 'd_81',
 'd_82',
 's_17',
 'r_12',
 'b_28',
 'r_13',
 'd_83',
 'r_14',
 'r_15',
 'd_84',
 'r_16',
 'b_29',
 'b_30',
 's_18',
 'd_86',
 'd_87',
 'r_17',
 'r_18',
 'd_88',
 'b_31',
 's_19',
 'r_19',
 'b_32',
 's_20',
 'r_20',
 'r_21',
 'b_33',
 'd_89',
 'r_22',
 'r_23',
 'd_91',
 'd_92',
 'd_93',
 'd_94',
 'r_24',
 'r_25',
 'd_96',
 's_22',
 's_23',
 's_24',
 's_25',
 's_26',
 'd_102',
 'd_103',
 'd_104',
 'd_105',
 'd_106',
 'd_107',
 'b_36',
 'b_37',
 'r_26',
 'r_27',
 'b_38',
 'd_108',
 'd_109',
 'd_110',
 'd_111',
 'b_39',
 'd_112',
 'b_40',
 's_27',
 'd_113',
 'd_114',
 'd_115',
 'd_116',
 'd_117',
 'd_118',
 'd_119',
 'd_120',
 'd_121',
 'd_122',
 'd_123',
 'd_124',
 'd_125',
 'd_126',
 'd_127',
 'd_128',
 'd_129',
 'b_41',
 'b_42',
 'd_130',
 'd_131',
 'd_132',
 'd_133',
 'r_28',
 'd_134',
 'd_135',
 'd_136',
 'd_137',
 'd_138',
 'd_139',
 'd_140',
 'd_141',
 'd_142',
 'd_143',
 'd_144',
 'd_145',
 'target']

In [ ]:
#have 2 categorical variables that need dummy coding
df_last = pd.get_dummies(df_last, drop_first=True)

In [ ]:
#imputing with mean values
df_last = df_last.fillna(df_last.mean())

In [ ]:
x_df_last = df_last.drop(columns=["target"])
y_df_last = df_last['target']

x_df_last_train, x_df_last_test, y_df_last_train, y_df_last_test = train_test_split(x_df_last, y_df_last, test_size=0.3, random_state=rand_state)

In [ ]:
rf_last = RandomForestClassifier(random_state=rand_state)
rf_last.fit(x_df_last_train, y_df_last_train)

RandomForestClassifier(random_state=1337)

In [ ]:
rf_last.score(x_df_last_test, y_df_last_test)

0.8866666666666667

# Testing positive flag on all statements, or only last statement

In [17]:
df.head(5)

,customer_id,s_2,p_2,d_39,b_1,b_2,r_1,s_3,d_41,b_3,...,d_142,d_143,d_144,d_145,row_number,last_statement_flag_drop,customer_id,target,last_statement_flag,last_statement_target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,0.000569,0.000610,0.002674,1,13,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,0,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,0.009576,0.005492,0.009217,2,12,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,0,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,0.003429,0.006986,0.002603,3,11,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,0,0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,0.008419,0.006527,0.009600,4,10,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,0,0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,0.001670,0.008126,0.009827,5,9,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0,0,0

In [34]:
df_as = df.drop(columns=["row_number","last_statement_flag_drop","last_statement_flag","last_statement_target", "s_2", "customer_id"])
df_ls = df.drop(columns=["row_number","last_statement_flag_drop","last_statement_flag","target", "s_2", "customer_id"])

In [35]:
missing_props = df_as.isna().mean(axis=0)

over_threshold = missing_props[missing_props >= 0.4]
over_threshold


df_as.drop(over_threshold.index, 
          axis=1, 
          inplace=True)

df_as.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120644 entries, 0 to 120643
Columns: 158 entries, p_2 to target
dtypes: float64(154), int64(2), object(2)
memory usage: 145.4+ MB

## All Statements DF

In [36]:
X = df_as.drop(columns=["target"])
y = df_as.target

In [37]:

# from sklearn.impute import SimpleImputer
# from sklearn.pipeline import Pipeline
# from sklearn.preprocessing import OneHotEncoder

categorical_pipeline = Pipeline(
    steps=[
        ("impute", SimpleImputer(strategy="most_frequent")),
        ("oh-encode", OneHotEncoder(handle_unknown="ignore", sparse=False)),
    ]
)

In [38]:

# from sklearn.preprocessing import StandardScaler

numeric_pipeline = Pipeline(
    steps=[("impute", SimpleImputer(strategy="mean")), 
           ("scale", StandardScaler())]
)

In [39]:

cat_cols = X.select_dtypes(exclude="number").columns
num_cols = X.select_dtypes(include="number").columns

In [40]:

# from sklearn.compose import ColumnTransformer

full_processor = ColumnTransformer(
    transformers=[
        ("numeric", numeric_pipeline, num_cols),
        ("categorical", categorical_pipeline, cat_cols),
    ]
)

In [41]:
xgb_cl = xgb.XGBClassifier()


# Apply preprocessing
X_processed = full_processor.fit_transform(X)
y_processed = SimpleImputer(strategy="most_frequent").fit_transform(
    y.values.reshape(-1, 1)
)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_processed, y_processed, stratify=y_processed, random_state=1121218
)

In [42]:

from sklearn.metrics import accuracy_score

# Init classifier
xgb_cl = xgb.XGBClassifier()

# Fit
xgb_cl.fit(X_train, y_train)

# Predict
preds = xgb_cl.predict(X_test)

# Score
accuracy_score(y_test, preds)

0.9245383110639568

## Last Statement DF

In [48]:
X = df_ls.drop(columns=["last_statement_target"])
y = df_ls.last_statement_target

In [51]:

cat_cols = X.select_dtypes(exclude="number").columns
num_cols = X.select_dtypes(include="number").columns

In [52]:

# from sklearn.compose import ColumnTransformer

full_processor = ColumnTransformer(
    transformers=[
        ("numeric", numeric_pipeline, num_cols),
        ("categorical", categorical_pipeline, cat_cols),
    ]
)

In [53]:
xgb_cl = xgb.XGBClassifier()


# Apply preprocessing
X_processed = full_processor.fit_transform(X)
y_processed = SimpleImputer(strategy="most_frequent").fit_transform(
    y.values.reshape(-1, 1)
)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_processed, y_processed, stratify=y_processed, random_state=1121218
)

In [54]:

from sklearn.metrics import accuracy_score

# Init classifier
xgb_cl = xgb.XGBClassifier()

# Fit
xgb_cl.fit(X_train, y_train)

# Predict
preds = xgb_cl.predict(X_test)

# Score
accuracy_score(y_test, preds)

0.979775206392361